.card-container {
    perspective: 700;
}

.card-container:hover
{
    cursor: pointer;
}

.flash
{
    border: 3px solid;
    padding: 10px;
    border-radius: 25px;
    animation: flash 1s forwards ease;
    animation-iteration-count: infinite;
}

@keyframes flash {
    from{
        border-color: transparent;
    }
    to{
        border-color: #F8951E;
    }
}

.card {
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transform-style: preserve-3d;
}

.card-front {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 25px;
    border: 2px solid white;
    background-color: #3C393D;
    height: 100%;
    width: 100%;
}

.card-back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 25px;
    border: 2px solid white;
    background-color: #3C393D;
    height: 100%;
    width: 100%;
}

.flip
{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

/*
mobile
 */
@media (max-width: 500px)
{
    .card
    {
        height: 800px;
    }
}